<div>
    <input type="text" placeholder="Username" ng-model="username">
    <input type="text" placeholder="Password" ng-model="password">
    <input type="text" placeholder="Confirm Password" ng-model="passwordConfirm">
    <button ng-click="submitNewUser(username, password, passwordConfirm)">Submit!</button>
</div>
<br>
<br>
<br>
<div>
    <input type="text" placeholder="Username" ng-model="userCheck">
    <input type="text" placeholder="Password" ng-model="passCheck">
    <button ng-click="submitNewUser(userCheck, passCheck, passCheck)">Submit!</button>
</div>