body {
    background: #eee;
}

/*Login Styles***********************************************/
.loginSection {
    height: 100vh;
    width: 100%;
    background: #eee;

}

.loginContainer {
    width: 50%;
    height: 100vh;
    margin: 0;
    float: left;
}

.loginDiv {
    max-width: 350px;
    width: 80%;
    min-width: 200px;
    margin: 30vh auto;
}

.loginInput {
    margin: 20px 0;
}

.loginButton {
    width: 100%;
}

.settingsCharacterContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: scroll;
    max-width: 350px;
    width: 80%;
    min-width: 200px;
    height: 100vh;
    margin: 0px auto; 
}

.settingsCharacter {
    
}

.settingsCharacterSpan {
    font-size: 2em;
}

/*Stats styles************************************/
.statsSection {
    margin: 0 auto;
    max-width: 938px;
}

.block {
    width: 300px;
    display: inline-block;
    margin: 5px;
    border: 1px solid black;
}

@media (min-width: 860px) {
    .loginSection {
        width: 80%;
        min-width: 860px;
        margin: 0 auto;
    }
}