<section class=".loginSection">
    <div class="loginContainer">
        <div class="loginDiv">
            <span class="settingsCharacterSpan">Username: {{user.username}}</span>
            <hr>
            <input class="form-control" type="text" placeholder="Name" ng-model="newName">
            <input class="form-control" type="text" placeholder="Level" ng-model="newLevel">
            <button class="btn btn-default" ng-click="createCharacter(newName, newLevel)">New Character</button>
        </div>
    </div>


    <div class="loginContainer">
        <div class="settingsCharacterContainer">
            <div class="settingsCharacter" ng-repeat="character in user.characters">
                <span class="settingsCharacterSpan">{{character.name}}  |  {{character.level}}</span>
                <br>
                <button class="btn btn-default" ng-click="goToCharacter(character._id)">Go to Character</button>
                <button class="btn btn-default" ng-click="deleteCharacter(character._id)">Delete</button>
                <hr>
            </div>
        </div
    </div>
</section>
