<span>Username: </span> {{user.username}}
<br>
<br>
<br>
<br>
<div ng-repeat="character in user.characters">
    Name: {{character.name}}
    <br>
    Level: {{character.level}}
    <br>
    <button ng-click="goToCharacter(character._id)">Go to Character</button>
    <button ng-click="deleteCharacter(character._id)">Delete</button>
    <br>
    <hr>
    <br>

</div>

<hr>
<hr>
<br>

<input type="text" placeholder="Name" ng-model="newName">
<input type="text" placeholder="Level" ng-model="newLevel">
<button ng-click="createCharacter(newName, newLevel)">New Character</button>